<!-- app.component.html -->

<mat-toolbar color="primary" class="header">
   <h4>Cartographie</h4>  
</mat-toolbar>  
  <div class="row" style="margin-top:2%;">
    <div class="col-md-3"> 
  <div class="form-group">
    <!-- <input type="text" class="form-control" size="20" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search> -->
    <select name="" id="" type="text" class="form-control" placeholder="Entrer la commune" (change)="changeWebsite($event)">
      <option value=""></option>  
      <option *ngFor="let p of pays" value="{{p.id}}">{{p.nomPays}}</option>
    </select>
  </div>
</div>
</div>

<div class="row" style="margin-top:2%;">
  <div class="col-md-5">
  <agm-map [latitude]="lat"
           [longitude]="lng"
           [zoom]="zoom"
    >
    <!-- <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker> -->

      <agm-marker 
      *ngFor="let m of communes; let i = index"
      (markerClick)="clickedMarker(m.id, i)"
      [latitude]="m.latitude"
      [longitude]="m.longitude"
      [animation]="'BOUNCE'"
      >

      <!--[label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)"-->
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
  </agm-map>

</div>


<div class="col-md-7">
  <div class="card" style="background-color: white;">
     <div class="card-header" style="background-color: white;">
      <h4 style="text-align: center;">Commune de Adjamé</h4>
     </div>
      <div class="card-body">
      <div class="row" style="margin-top: 15px; margin-left: 1px;">
        <div class="col-md-4">
          <div class="rectangle">
              <div class="Etablissements-t">
                  <p class="Etablissements-t text-style-1" *ngIf="countTotal==0">
                    0
                    Etablissements total
                  </p>

                  <p class="Etablissements-t text-style-1" *ngIf="countTotal!=0">
                     {{countTotal}}
                    Etablissements total
                  </p>
              </div>  
          </div>
        </div>

        <div class="col-md-4">
          <div class="rectangle">
            <div class="Etablissements-pu">
              <p class="Etablissements-pu text-style-1" *ngIf="countEtabPublic==0">
                0
                Etablissements publics
              </p>
              <p class="Etablissements-pu text-style-1" *ngIf="countEtabPublic!=0">
                 {{countEtabPublic}}
                Etablissements publics
              </p>
          </div> 
          </div>
        </div>

        <div class="col-md-4">
          <div class="rectangle">
            <div class="Etablissements-p">
              <p class="Etablissements-p text-style-1"  *ngIf="countEtabPrive==0">
                 0
                Etablissements privés
              </p>
              <p class="Etablissements-p text-style-1" *ngIf="countEtabPrive!=0">
                {{countEtabPrive}}
                Etablissements privés
              </p>
            </div>
           
          </div>
        </div>

      </div>
        <!-- &nbsp; &nbsp;
      <h5 class="stat">Les statistiques</h5> -->
      <div class="row">
       <div class="col-md-6">
        <div class="rectangle1" style="width:110%; height:400px;" [chart]="chart"></div>
       </div>

       <div class="col-md-6">
          <div class="row">
            <div style="width:95%; height:200px;" [chart]="chart1"></div>
          </div>

          <div class="row">
            <div style="width:95%; height:200px;" [chart]="chart2"></div>
          </div>
       </div>

      </div>
  </div>
</div>
</div>
</div>


<div class="row" style="margin-top: 30px;">
<div class="col-md-12">
  <mat-card>
    <mat-card-header style="background-color: rgb(121, 121, 192);">Liste de recensements</mat-card-header>
    <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="nomcom">
      <th mat-header-cell *matHeaderCellDef> Nom commercial </th>
      <td mat-cell *matCellDef="let element"> {{element.nomCommercial}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="numsiret">
      <th mat-header-cell *matHeaderCellDef> Numéro Siret </th>
      <td mat-cell *matCellDef="let element"> {{element.numsiret}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="typeetab">
      <th mat-header-cell *matHeaderCellDef> Type Etablissement </th>
      <td mat-cell *matCellDef="let element"> {{element.typeetablissement}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="categorie">
      <th mat-header-cell *matHeaderCellDef> Catégorie </th>
      <td mat-cell *matCellDef="let element"> {{element.categorie}} </td>
    </ng-container>

    <ng-container matColumnDef="raison">
      <th mat-header-cell *matHeaderCellDef> Raison </th>
      <td mat-cell *matCellDef="let element"> {{element.raison}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <!-- <button mat-raised-button color="primary" class="push-right"
          [routerLink]="['/edit-student/', element._id]">Edit</button> -->
          <!-- <button> -->
              <mat-icon>visibility</mat-icon>
          <!-- </button> -->
          <!-- <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openBottomSheet(element._id)">
                <mat-icon>edit</mat-icon> &nbsp;
                Editer
            </button>
            <button mat-menu-item (click)="deleteProduct(element)">
                <mat-icon>delete_outline</mat-icon> &nbsp;
                Supprimer
            </button>
          </mat-menu> -->
      </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card-content>
</mat-card>
</div>
</div>

